html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f7f7f8;

  --border-radius-s: 4px;
  --primary-color: #c83802;
  --success-color: #7DCE82;
  --light-orange: #FF8360;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
